/*
Title: about-me-style.css

Date: 2023-01-05

Author: Channing Ko-Madden

Style sheet for about-me.html page
*/

@import url("960_12_col.css");
@import url("global-style.css");

p {
	text-align: center;
}

a.me_link {
	display: inline-block;
}

a.me_link:link {
	color: blue;
}

a.me_link:visited {
	color: blue;
}

#bmore {
	color: purple;
}

#bio {
	text-align: center;
}

#bio > p {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
