/*

Title: climbing-style.css

Author: Channing Ko-Madden

Brief: Style sheet for climbing.html page
*/

@import url("960_12_col.css");
@import url("global-style.css");

/* Div containing list of sends*/
#send_list {
    text-align: center;
}

/* Customize list 
 * Set margin and padding to center correctly given that
 * the bullet points have been removed */
#send_list > ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
